@charset "utf-8";
/* CSS Document */

/*base*/
body, h1, h2, h3, h4, h5, h6, input, textarea, button {
    font-family: Verdana,Arial,Lucida,Helvetica,"微软雅黑","宋体",sans-serif;
    font-weight: normal;
    margin:0;
    padding:0;
    font-size:13px;
}
ul, ol,  li, p, dl,dt, dd, table {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after{clear:both;}
.clearfix {
    *zoom:1
}
:focus {
    outline: 0;
}
a {
    text-decoration: none;
    color: #333;
    cursor:pointer;
}
/*base end*/

/*header*/
.head {
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  width: 960px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  height: 35px;
  padding: 15px 0;
  position: relative;
  zoom: 1;
}

.head h1, .head h2 {
  background: url("../image/logo.png") no-repeat 0 0;
  width: 236px;
  height: 35px;
  overflow: hidden;
  float: left;
}

.head h1 a, .head h2 a {
  display: block;
  width: 236px;
  height: 50px;
  line-height: 20em;
  overflow: hidden;
}

.meau {
  background: none repeat scroll 0 0 #FF6599;
  width: 100%;
  position: relative;
  clear: both;
  height: 40px;
  margin: 0 auto;
  z-index: 999;
}

.meau ul {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
/*header end*/