<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canary.mapper.ArticleTagRelationMapper">

    <!--增-->
    <insert id="insert" parameterType="com.canary.model.ArticleTagRelationModel" useGeneratedKeys="true" keyProperty="id">
        insert into t_article_tag_relation(
            article_id,tag_id,delete_status,operator,operate_time,creator,create_time
        ) values(
            #{articleId},#{tagId},'NotDelete',#{operator},now(), #{creator},now()
        );
    </insert>

    <!--增 批量-->
    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_article_tag_relation (
            article_id,tag_id,delete_status,operator,operate_time,creator,create_time
        )values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.articleId},#{item.tagId},'NotDelete',#{item.operator},now(),#{item.creator},now())
        </foreach>
    </insert>

    <!--删-->
    <update id="delete" parameterType="com.canary.model.ArticleTagRelationModel">
        update t_article_tag_relation
        set delete_status = 'Delete',operator = #{operator},operate_time = now()
        where id = #{id} and delete_status = 'NotDelete'
    </update>

    <!--删 根据文章主键删除-->
    <update id="deleteByArticleId" parameterType="com.canary.model.ArticleTagRelationModel">
        update t_article_tag_relation
        set delete_status = 'Delete',operator = #{operator},operate_time = now()
        where article_id = #{articleId} and delete_status = 'NotDelete'
    </update>

    <!--改-->
    <!--<update id="update" parameterType="com.canary.model.ArticleTagRelationModel">-->
        <!--update t_article_tag_relation-->
        <!--set article_id = #{articleId},tag_id = #{tagId},operator = #{operator},operate_time = now()-->
        <!--where id = #{id} and delete_status = 'NotDelete'-->
    <!--</update>-->

</mapper>